img {
  max-width: 100px;
}
img:hover {
  max-width: none;
}
.eg {
  padding: 10px 15px;
  margin: 15px auto;
  font: 12px/20px 'courier new';
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ddd;
  border-left-width: 4px;
  background: #fbfbfb;
}
